// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *

//
// BASE/LAYOUT
// --------------------------------------------------

@import '../../../assets/nutshell/scss/base/layout';

// --------------------------------------------------

// nav--mobile--active
.html--fixed {
  @include media-query(screen-menu-max) {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

// #topbar
[id='topbar'] {
  > .inside {
    @include padding-default(var(--base-spacing-unit));
    @include wrapper-max();

    display: flex;
    justify-content: flex-end;
  }
}

// #header
[id='header'] {
  border-bottom: var(--layout-header-border);
  top: 0;
  z-index: 1001;

  @include media-query(screen-md) {
    position: sticky;
  }

  .inside {
    display: grid;
    grid-template-columns: auto auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

    @supports not (display: grid) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  html {
    &.html--fixed & {
      pointer-events: none;
    }
  }
}

// #footer
[id='footer'] {
  border-top: var(--base-border);

  .inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: var(--base-spacing-unit);
    padding-bottom: var(--base-spacing-unit-xs);

    @include media-query(screen-xl) {
      padding-top: var(--base-spacing-unit-lg);
      padding-bottom: var(--base-spacing-unit-sm);
    }
  }
}
