// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *

//
// COMPONENTS/LOGO
// --------------------------------------------------

// company brand
.logo {
  pointer-events: auto;
  grid-row: span 2;
  align-self: end;
  padding-bottom: var(--base-spacing-unit);

  img {
    margin-left: 0;
    width: 160px;
  }
}
