// *
// * Erdmann & Freunde
// * OPTIMIST Contao Theme
// * erdmann-freunde.de/produkte/contao-themes/optimist/
// *

//
// COMPONENTS/SLIDER
// --------------------------------------------------

.ce_swiperStart {

  .swiper-container {
    padding-bottom: 2rem;
  }

  .swiper-pagination-bullet {
    width: var(--slider-menu-point-size);
    height: var(--slider-menu-point-size);
    border: 2px solid var(--slider-menu-point-color);
    background: transparent;
    opacity: 1;

    &-active {
      background: var(--slider-menu-point-color-active);
    }
  }
}
